<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mulheres no Mercado de trabalho</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form action="" method="post">
        <input type="text" name="nome" placeholder="Insira o seu nome "><br><br>   
        <input type="text" name="sobrenome" placeholder="Insira o seu sobrenome"><br><br>     
        <input type="email" name="email" placeholder="Insira o seu e-mail"><br><br>
        <input type="text" name="paragrafo" placeholder="Insira seu texto"><br><br>

    
        <input type="submit" value="Enviar">
    
    </form>

    
</body>
</html>